/* Inserta tu codigo aqui */
/*esto es el titulo*/
.titulo{
	font-size: 20px;
	padding-top: 3%;
	padding-bottom: 1%;
}
/*comienza el menu*/
.menu{
	margin: 10px;
}
.menu li{
	display: inline;
	padding:auto;
}
.menu a{
	text-decoration: none;
	padding: 10px 15px;
	margin: 15px;
}
.menu a:hover{
	font-size: 28px;
	border: 2px solid #192951; 
}
/*foto principal*/
/*index*/
.imgprincipal{
	position: relative;
	background-image: url("../img/dance_1.jpg");
	background-size: 1500px 550px;
	height: 400px;
}
.absoluto{
	position: absolute;
	top: 80px;
	left: 110px;
	width: 300px;
}
.bg-textura{
    background-image: url("../img/textura_2.jpg");
    height: 420px;
}

/*sirven*/
.relative{
	position:  relative;
}

.abso-p{
	position: absolute;
	float: right;

}
.bg-blue{
	background-color: rgb(25, 41, 81);
}
.bg-contactanos{
	background-image: url("../img/shoes_1.jpg") ;
	height: 420px;
}
.input{
	display: block;
	border: 1px solid gray;
}

/*nosotros]*/

.row.img-nosotros{
	position: relative;
	background-image: url("../img/dance_7.jpg") ;
	background-size: 1500px 550px;
	height: 400px;
}
.fondo-transparente{
	background-color: rgba(0, 0, 0, .4);
	width:500px;
	height: 220px;
	position: absolute;
	top: 100px;
	left: 500px;
}
.bg-textura2{
	background-image: url("../img/cubes.png") ;
	height: 400px;
}
.frases{
	font-size: 50px;
	margin: 50px auto;
}